.home-container {
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
  }
  
  .home-content {
    background-color: #111;
    border-radius: 20px;
    padding: 3rem 4rem;
    box-shadow: 0 0 25px rgba(138, 43, 226, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.05);
    animation: fadeIn 1.2s ease;
  }
  
  .home-title {
    font-size: 2rem;
    color: #b084f7;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  
  .home-subtitle {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
  }
  
  .home-message {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    font-weight: 300;
  }
  
  .instagram-button {
    display: inline-flex;
    align-items: center;
    gap: 0.6rem;
    padding: 0.9rem 1.8rem;
    background-color: rgba(176, 132, 247, 0.15);
    color: #b084f7;
    border-radius: 10px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s;
    text-decoration: none;
  }
  
  .instagram-button:hover {
    background: grey;
    transform: translateY(-2px);
  }
  
  .instagram-icon {
    width: 24px;
    height: 24px;
  }