*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container{
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
}